<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}
  {{!-- main heade --}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class=" row">
          <!-- left side div -->
          <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure class="errimg">
              <img src="images/404error.jpg" alt="arya" class="img-fluid" title="weatherapi">
            </figure>
            <h1>{{errorMsg}}</h1>
            <a href="/"><button>GO Home</button></a>
          </div>
          <!-- right side div ,,,carousel for image sliding in webpage. -->

        </div>

      </div>

    </div>

  </div>
  <!-- fotter code start here  -->
  {{>footer}}

</body>

</html>