<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}
  {{!-- main heade --}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class=" row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure class="aboutimg">
              <img src="images/shadow3.png" alt="arya" class="img-fluid" title="weatherapi">
            </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to weather app</p>
            <h1>I Am A <span class="text_clr">MErn Stack Developer.</span> And A Freelancer</h1>
            <a href="https://github.com/shubhammehta07"><button>About me</button></a>
          </div>
          <!-- right side div ,,,carousel for image sliding in webpage. -->

        </div>

      </div>

    </div>

  </div>
  <!-- fotter code start here  -->
  {{>footer}}

</body>

</html>